body,
html {
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.upperContainer {
  height: 35%;
  width: 98.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.backAndCurrentCard {
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.reservedSection {
  height: 90%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.back {
  height: 95%;
  width: 40%;
  line-height: 0.8;
  font-size: 180px;
  background-color: white;
}

.reservedCard {
  height: 95%;
  width: 15%;
  border: 1px solid black;
}

.solitaire {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.piles {
  width: 99%;
  height: 90%;
  display: flex;
  margin-top: 130px;
  justify-content: space-around;
  flex-direction: row;
}

.pile {
  width: 13.5%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.black {
  width: 70%;
  height: 35%;
  font-size: 120px;
  text-align: center;
  background-color: white;
}

.red {
  width: 70%;
  height: 35%;
  font-size: 120px;
  color: red;
  text-align: center;
  background-color: white;
}
