body,
html {
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.upperContainer {
  height: 25%;
  width: 98.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.backAndCurrentCard {
  height: 90%;
  width: 20%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.reservedcardSection {
  height: 90%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.back {
  height: 95%;
  width: 40%;
  border: 1px solid black;
}

.reservedDeckCard {
  height: 95%;
  width: 15%;
  border: 1px solid black;
}

.solitaire {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.piles {
  width: 99%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.pile {
  width: 13.5%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.black {
  width: 55%;
  height: 10%;
  margin: 10px;
  font-size: 80px;
}

.red {
  width: 55%;
  height: 10%;
  margin: 10px;
  font-size: 80px;
  color: red;
}
