body,
html {
  height: 100%;
  width: 100%;
  background: darkslategrey;
}
#root {
  display: flex;
  height: 100%;
  width: 100%;
}

.upperContainer {
  height: 35%;
  width: 98.5%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.backAndCurrentCard {
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.reservedSection {
  height: 88%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.back {
  height: 95%;
  width: 30%;
  line-height: 1;
  font-size: 140px;
  border-radius: 7px;
  border: 1px solid black;
  background-color: ivory;
  text-align: center;
}

.reservedCard {
  height: 95%;
  width: 15%;
  font-size: 140px;
  border-radius: 9px;
  border: 1px solid black;
  background-color: ivory;
  text-align: center;
}

.solitaire {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.piles {
  margin-top: 90px;
  width: 99%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.pile {
  width: 13.5%;
  height: 100%;
  display: flex;
  justify-content: start;
  flex-direction: column;
}

.black {
  margin-top: -100px;
  width: 60%;
  font-size: 140px;
  text-align: center;
  border-radius: 7px;
  border: 1px solid black;
  background-color: ivory;
}

.openCard {
  height: 100%;
  width: 100%;
}

.red {
  margin-top: -100px;
  width: 60%;
  font-size: 140px;
  text-align: center;
  color: red;
  border-radius: 7px;
  border: 1px solid black;
  background-color: ivory;
}
